* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Monaco", monospace;
    color: white;

}

input {
    font-size: 20px;
}

::placeholder {
    color: rgb(214, 208, 208);
}

p {
    font-size: large;
}

h2 {
    font-size: x-large;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/purplewithmoon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.left-div {
    flex: 6;
}

.searchbar-div {
    grid-area: searchbar-div;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 28px;
    background: transparent;
    margin: 50px auto 30px auto;
}

#searchbar {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    margin: 5px;
    width: 250px;
}

#weather-div {
    height: 70%;
    width: 70%;
    min-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "main-info-div humidity-div wind-div"
        "main-info-div sunrise-div sunset-div";
}

#error-div {
    height: 70%;
    width: 70%;
    min-width: 360px;
    display: flex;
    border: 2px solid transparent;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: none;
    margin: auto;
}

#weather-div i {
    margin: 20px;
}

.bookmark-btn i {
    margin: 10px;
}

.bookmark-btn i:hover,
.bookmarked i {
    color: gold;
}

.delete-btn i:hover {
    color: red;
}

#search-btn i:hover {
    color: cadetblue;
}


.main-info-div {
    grid-area: main-info-div;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.humidity-div {
    grid-area: humidity-div;
}

.wind-div {
    grid-area: wind-div;
}

.sunrise-div {
    grid-area: sunrise-div;
}

.sunset-div {
    grid-area: sunset-div;
}

.side-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.side-info i {
    font-size: 40px;
    margin: 6px;
}

#saved-cities-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.city-div {
    height: fit-content;
    width: fit-content;
    min-width: 250px;
    padding: 12px 15px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
}

.city-div h2 {
    display: inline;
    padding: 0 8px;
}

button {
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
    transition: color 0.2s ease;
}

.glass-container {
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
}

.wi {
    color: white;
    font-size: 80px;
}

.city-btn {
    font-size: 24px;
}